<div class="row">
	<div class="row">
	<div class="span7 offset3">
<h1>All tasks in project <%= @project.title.humanize %></h1>
</div>
<div class="span2 offset3">
	<% if user_signed_in? && @project.users.include?(current_user) %>
<%= link_to "New task", new_project_task_path(@project),
                                class: "btn btn-large btn-primary" %>
                            </div>

<% end %>
</div>
<%= render 'project' %>
</div>


